/*Kuba Rudnik*/
div#pierwszy_rudnik
{
    width: 804pt ;
    border-top-right-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color:#ffc0cb;
    border: #800080 solid 7px;
}
div#drugi_rudnik
{
    width: 1004pt ;
    margin-left: auto;
    margin-right: auto;
    background-color: #90ee90;
    border-top-right-radius: 17px;
    border-top-right-radius: 17px;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    border: #000000 solid 3px;
}
div#trzeci_rudnik
{
    width: 1204pt ;
    margin-left: auto;
    margin-right: auto;
    background-color: #add8e6;
    border-top-right-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
    border: #000080 solid 5px;
}
p
{
    font-size:10pt;
}
p:first-child
{
    font-size:9mm;
    font-style:italic;
}
body
{
    background-color: #808080;
}